.header {
  background-color: var(--color-surface);
  padding: var(--spacing-md) var(--spacing-xl);
  box-shadow: var(--shadow-sm);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary);
    text-decoration: none;
  }

  &__nav {
    display: flex;
    gap: var(--spacing-md);

    &-inner{
      position: relative;
      display: flex;
      gap: var(--spacing-md);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-gray-900);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    transition: color var(--motion-fast) var(--motion-ease-in-out);
    position: relative;
    padding-bottom: var(--spacing-xs);

    &:hover {
      color: var(--color-primary-hover);
    }
  }

  &__underline{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--color-primary);
    border-radius: var(--radius-sm);
  }
}
